/* 
		tutorial	https://youtu.be/Cg-1kW6EPvk

		credit		@argoV2
		author		@argoV2 - https://linkfly.to/argo20k
		version		2.1-2023.10.24
		compatible	chromium-93-justifycontent-2021.08.31
*/

:root {
	--green: #2ecc71;
	--red: #ed4245;
	--grey_dark: #1e2124;
	--green_dark: #3ba53b;
	--grey_dark_transparent: rgba(30, 33, 36, 0.95);
	--green_transparent: rgba(46, 204, 113, 0.95);

	/* 		voice states */
	/* 	--voicestates_vertical_align: start; */ /* radio - vertical align */
	/* 	--voicestates_vertical_align: center; */ /* radio - vertical align */
	/* 	--voicestates_vertical_align: end; */ /* radio - vertical align */
	/* 	--voicestates_horizontal_align: left; */ /* radio - horizontal align */
	/* 	--voicestates_horizontal_align: center; */ /* radio - horizontal align */
	/* 	--voicestates_horizontal_align: right; */ /* radio - horizontal align */
	/* 	--voicestates_arrangement: column; */ /* checkbox - vertical arrangement */
	/* 	--voicestates_arrangement: row; */ /* checkbox - horizontal arrangement */
	--voicestates_margin_top: 1em;
	--voicestates_margin_bottom: calc(1em * 3 / 7);
	--voicestates_margin_left: 1em;
	--voicestates_margin_right: -0.5em;

	/* 		voice state */
	/* 	--voicestate_arrangement: row; */ /* checkbox - voice state horizontal arrangement */
	/* 	--voicestate_arrangement: column; */ /* checkbox - voice state vertical arrangement */
	/* 	--voicestate_display: flex; */ /* checkbox - show all voice states */
	/* 	--voicestate_display: none; */ /* checkbox - hide all voice states */
	--voicestate_margin_bottom: calc(1em * 4 / 7);
	--voicestate_margin_right: 1em;
	/* 	--voicestate_content_order: 0; */ /* checkbox - avatar -> username order */
	/* 	--voicestate_content_order: 1; */ /* checkbox - username -> avatar order */
	/* 	--voicestate_not_speaking_display: flex; */ /* checkbox - disable show speaking voice states only */
	/* 	--voicestate_not_speaking_display: none; */ /* checkbox - enable show speaking voice states only */

	/* 		avatar */
	--avatar_border_width: calc(var(--calculated_avatar_height_width) * 0.075);
	--avatar_border_color: rgba(0, 0, 0, 0);
	--avatar_speaking_border_color: rgba(46, 204, 113, 0.95);
	--avatar_border_radius: 50%;
	--avatar_height: 50px;
	--avatar_width: 50px;
	/* 	--avatar_content: normal; */ /* checkbox - disable custom avatar */
	/* 	--avatar_content: url('https://cdn.discordapp.com/embed/avatars/1.png'); */ /* checkbox - enable custom avatar */
	/* 	--avatar_content: no_default_value_decided_yet; */ /* text input - custom avatar url */
	/* 	--avatar_speaking_content: normal; */ /* checkbox - disable custom speaking avatar */
	/* 	--avatar_speaking_content: url('https://cdn.discordapp.com/embed/avatars/4.png'); */ /* checkbox - enable custom speaking avatar */
	/* 	--avatar_speaking_content: no_default_value_decided_yet; */ /* text input - custom speaking avatar url */
	/* 	--avatar_display: block; */ /* checkbox - show all avatars */
	/* 	--avatar_display: none; */ /* checkbox - hide all avatars */

	/* 		username */
	/* 	--username_display: flex; */ /* checkbox - show all usernames */
	/* 	--username_display: none; */ /* checkbox - hide all usernames */
	--username_background_color: rgba(30, 33, 36, 0.95);
	/* 	--username_speaking_background_color: var(--inherited_username_background_color); */ /* checkbox - disable speaking colour */
	/* 	--username_speaking_background_color: rgba(46, 204, 113, 0.95); */ /* checkbox - enable speaking colour */
	--username_border_radius: calc(1em * 3 / 14);
	--username_color: #fff;
	--username_font: gg sans;
	--username_font_size: 14px;
	--username_font_weight: 600;
	--username_line_height: calc(93 / 70);
	--username_box_max_width: see-input-options-config.json; /* mod - 100px */
	--username_box_width: see-input-options-config.json; /* mod - 100px */
	--username_margin_top: 0em;
	--username_margin_bottom: 0em;
	--username_margin_left: calc(1em * 8 / 14);
	--username_margin_right: calc(1em * 8 / 14);
	/* 	--username_text_overflow_style: ellipsis; */ /* checkbox - enable ellipsis overflow */
	/* 	--username_text_overflow_style: clip; */ /* checkbox - disable ellipsis overflow */

	/* 		recommended not to change */
	--calculated_avatar_height_width: var(--avatar_width, var(--avatar_height, 50px));

	--inherited_voicestates_horizontal_align: var(--voicestates_horizontal_align, left);
	--inherited_username_box_max_width: var(--username_box_max_width, initial);
	--inherited_username_box_width: var(--username_box_width, initial);
	--inherited_username_background_color: var(--username_background_color, rgba(30, 33, 36, 0.95));
	--calculated_username_vertical_padding: calc(1em * 2 / 7);
	--calculated_username_horizontal_padding: calc(1em * 3 / 7);
	--calculated_username_max_width: calc(var(--inherited_username_box_max_width) - var(--calculated_username_horizontal_padding) * 2);
	--calculated_username_width: calc(var(--inherited_username_box_width) - var(--calculated_username_horizontal_padding) * 2);
	overflow: hidden;
}

div[class$='voice_container'] {
	display: block;
	font-family: gg sans;
	font-size: 16px;
	font-weight: 600;
	line-height: 19px;

	display: flex;
	font-family: var(--username_font, gg sans);
	font-size: var(--username_font_size, 16px);
	font-weight: var(--username_font_weight, 600);
	line-height: var(--username_line_height, calc(93 / 70));

	align-items: var(--voicestates_vertical_align, start);
	justify-content: var(--voicestates_horizontal_align, left);

	/* 		recommended not to change */
	height: 100vh;
}

ul[class$='voice_states'] {
	display: block;
	margin-top: 1em;
	margin-bottom: 1em;
	padding-left: 15px;

	display: flex;
	margin-top: var(--voicestates_margin_top, 1em);
	margin-bottom: var(--voicestates_margin_bottom, calc(1em * 3 / 7));
	padding-left: 0;

	flex-direction: var(--voicestates_arrangement, column);
	margin-left: var(--voicestates_margin_left, 1em);
	margin-right: var(--voicestates_margin_right, -0.5em);

	/* 		recommended not to change */
	flex-wrap: wrap;
	height: fit-content;
	justify-content: var(--inherited_voicestates_horizontal_align);
}

li[class$='voice_state'] {
	display: list-item;
	height: 50px;
	margin-bottom: 8px;

	display: var(--voicestate_display, flex);
	height: fit-content;
	margin-bottom: var(--voicestate_margin_bottom, calc(1em * 4 / 7));

	flex-direction: var(--voicestate_arrangement, row);
	margin-right: var(--voicestate_margin_right, 1em);

	/* 		recommended not to change */
	align-items: center;
}

/* 		if and only if '--voicestate_display: none;' then '--voicestate_not_speaking_display: none;' */
/* 		so if '' flex, then '' can be flex or none */
/* 		but if '' none, then '' also has to be none */
/* 		or else it would still show when they should be hidden with the '--voicestate_display' style */
/*  	this check logic probably can't be done in pure CSS. instead when in generating CSS step in Streamkit website,  */
/* 		do this check when determine the value of '--voicestate_not_speaking_display', when compared to '--voicestate_display' */
li[class$='voice_state']:not([class*='speaking']) {
	display: var(--voicestate_not_speaking_display, flex);
}

img[class$='avatar'] {
	border: 3px solid rgba(0, 0, 0, 0);
	border-radius: 50%;
	height: 50px;
	width: 50px;
	margin-right: 8px;

	border-width: var(--avatar_border_width, calc(var(--calculated_avatar_height_width) * 0.075));
	border-style: solid;
	border-color: var(--avatar_border_color, rgba(0, 0, 0, 0));
	border-radius: var(--avatar_border_radius, 50%);
	height: var(--avatar_height, 50px);
	width: var(--avatar_width, 50px);
	margin-right: 0;

	content: var(--avatar_content, normal);
	display: var(--avatar_display, block);
	order: var(--voicestate_content_order, 0);
}

li[class$='voice_state'][class*='speaking'] img[class$='avatar'] {
	border-color: #3ba53b;

	border-color: var(--avatar_speaking_border_color, rgba(46, 204, 113, 0.95));

	content: var(--avatar_speaking_content, normal);
}

div[class$='username'] {
	display: block;
	padding-top: 18px;

	display: var(--username_display, flex);
	padding-top: 0;

	/* 		recommended not to change */
	white-space: nowrap;
}

span[class*='name'] {
	background-color: rgba(30, 33, 36, 0.95);
	border-radius: 3px;
	color: #fff;
	font-size: 14px;
	padding: 4px 6px;
	text-align: -webkit-match-parent;

	background-color: var(--username_background_color, rgba(30, 33, 36, 0.95)) !important;
	border-radius: var(--username_border_radius, calc(1em * 3 / 14));
	color: var(--username_color, #fff) !important;
	font-size: 1em !important;
	padding: var(--calculated_username_vertical_padding) var(--calculated_username_horizontal_padding);
	text-align: center;

	max-width: var(--calculated_username_max_width);
	width: var(--calculated_username_width);
	margin-top: var(--username_margin_top, 0em);
	margin-bottom: var(--username_margin_bottom, 0em);
	margin-left: var(--username_margin_left, calc(8 / 14 * 1em));
	margin-right: var(--username_margin_right, calc(8 / 14 * 1em));
	text-overflow: var(--username_text_overflow_style, ellipsis);

	/* 		recommended not to change */
	overflow: hidden;
}

li[class$='voice_state'][class*='speaking'] span[class*='name'] {
	background-color: var(--username_speaking_background_color, var(--inherited_username_background_color)) !important;
}

/* 
		tutorial	https://youtu.be/Cg-1kW6EPvk

		credit		@argoV2
		author		@argoV2 - https://linkfly.to/argo20k
		version		2.1-2023.10.31
		compatible	chromium-93-justifycontent-2021.08.31
*/

:root {
	--green: #2ecc71;
	--red: #ed4245;
	--grey_dark: #1e2124;
	--green_dark: #3ba53b;
	--grey_dark_transparent: rgba(30, 33, 36, 0.95);
	--green_transparent: rgba(46, 204, 113, 0.95);

	/* 		voice states */
	/* 	--voicestates_vertical_align: start; */
	/* 	--voicestates_vertical_align: center; */
	/* 	--voicestates_vertical_align: end; */
	/* 	--voicestates_horizontal_align: left; */
	/* 	--voicestates_horizontal_align: center; */
	/* 	--voicestates_horizontal_align: right; */
	--voicestates_arrangement: column;
	--voicestates_margin_top: 1em;
	--voicestates_margin_bottom: calc(1em * 3 / 7);
	--voicestates_margin_left: 1em;
	--voicestates_margin_right: -0.5em;

	/* 		voice state */
	/* 	--voicestate_arrangement: column; */
	--voicestate_margin_bottom: calc(1em * 4 / 7);
	--voicestate_margin_right: 1em;

	/* 		avatar */
	--avatar_border_width: calc(var(--calculated_avatar_height_width) * 0.075);
	--avatar_border_color: rgba(0, 0, 0, 0);
	--avatar_speaking_border_color: rgba(46, 204, 113, 0.95);
	--avatar_border_radius: 50%;
	--avatar_height: 64px;
	--avatar_width: 64px;
	/* 	--avatar_order: 1; */

	/* 		username */
	--username_background_color: rgba(30, 33, 36, 0.95);
	/* 	--username_speaking_background_color: rgba(46, 204, 113, 0.95); */
	--username_border_radius: calc(1em * 3 / 14);
	--username_color: #fff;
	--username_font: gg sans;
	--username_font_size: 16px;
	--username_font_weight: 600;
	--username_line_height: calc(93 / 70);
	/* 	--username_box_max_width: calc(var(--calculated_avatar_height_width) * 2); */
	/* 	--username_box_width: calc(var(--calculated_avatar_height_width) * 2); */
	--username_margin_top: 0em;
	--username_margin_bottom: 0em;
	--username_margin_left: calc(8 / 14 * 1em);
	--username_margin_right: calc(8 / 14 * 1em);
	--username_text_overflow_style: ellipsis;

	/* 		recommended not to change */
	--calculated_avatar_height_width: var(--avatar_width, var(--avatar_height, 50px));

	--inherited_voicestates_horizontal_align: var(--voicestates_horizontal_align, left);
	--inherited_username_box_max_width: var(--username_box_max_width, initial);
	--inherited_username_box_width: var(--username_box_width, initial);
	--inherited_username_background_color: var(--username_background_color, rgba(30, 33, 36, 0.95));
	--calculated_username_vertical_padding: calc(1em * 2 / 7);
	--calculated_username_horizontal_padding: calc(1em * 3 / 7);
	--calculated_username_max_width: calc(var(--inherited_username_box_max_width) - var(--calculated_username_horizontal_padding) * 2);
	--calculated_username_width: calc(var(--inherited_username_box_width) - var(--calculated_username_horizontal_padding) * 2);
	overflow: hidden;
}

div[class$='voice_container'] {
	display: block;
	font-family: gg sans;
	font-size: 16px;
	font-weight: 600;
	line-height: 19px;

	display: flex;
	font-family: var(--username_font, gg sans);
	font-size: var(--username_font_size, 16px);
	font-weight: var(--username_font_weight, 600);
	line-height: var(--username_line_height, calc(93 / 70));

	align-items: var(--voicestates_vertical_align, start);
	justify-content: var(--voicestates_horizontal_align, left);

	/* 		recommended not to change */
	height: 100vh;
}

ul[class$='voice_states'] {
	display: block;
	margin-top: 1em;
	margin-bottom: 1em;
	padding-left: 15px;

	display: flex;
	margin-top: var(--voicestates_margin_top, 1em);
	margin-bottom: var(--voicestates_margin_bottom, calc(1em * 3 / 7));
	padding-left: 0;

	flex-direction: var(--voicestates_arrangement, row);
	margin-left: var(--voicestates_margin_left, 1em);
	margin-right: var(--voicestates_margin_right, -0.5em);

	/* 		recommended not to change */
	flex-wrap: wrap;
	height: fit-content;
	justify-content: var(--inherited_voicestates_horizontal_align);
}

li[class$='voice_state'] {
	display: list-item;
	height: 50px;
	margin-bottom: 8px;

	display: flex;
	height: fit-content;
	margin-bottom: var(--voicestate_margin_bottom, calc(1em * 4 / 7));

	flex-direction: var(--voicestate_arrangement, row);
	margin-right: var(--voicestate_margin_right, 1em);

	/* 		recommended not to change */
	align-items: center;
}

img[class$='avatar'] {
	border: 3px solid rgba(0, 0, 0, 0);
	border-radius: 50%;
	height: 50px;
	width: 50px;
	margin-right: 8px;

	border-width: var(--avatar_border_width, calc(var(--calculated_avatar_height_width) * 0.075));
	border-style: solid;
	border-color: var(--avatar_border_color, rgba(0, 0, 0, 0));
	border-radius: var(--avatar_border_radius, 50%);
	height: var(--avatar_height, 64px);
	width: var(--avatar_width, 64px);
	margin-right: 0;

	order: var(--avatar_order, 0);
}

li[class$='voice_state'][class*='speaking'] img[class$='avatar'] {
	border-color: #3ba53b;

	border-color: var(--avatar_speaking_border_color, rgba(46, 204, 113, 0.95));
}

div[class$='username'] {
	display: block;
	padding-top: 18px;

	display: flex;
	padding-top: 0;
}

span[class*='name'] {
	background-color: rgba(30, 33, 36, 0.95);
	border-radius: 3px;
	color: #fff;
	font-size: 14px;
	padding: 4px 6px;
	text-align: -webkit-match-parent;

	background-color: var(--username_background_color, rgba(30, 33, 36, 0.95)) !important;
	border-radius: var(--username_border_radius, calc(1em * 3 / 14));
	color: var(--username_color, #fff) !important;
	font-size: 1em !important;
	padding: var(--calculated_username_vertical_padding) var(--calculated_username_horizontal_padding);
	text-align: center;

	max-width: var(--calculated_username_max_width);
	width: var(--calculated_username_width);
	margin-top: var(--username_margin_top, 0em);
	margin-bottom: var(--username_margin_bottom, 0em);
	margin-left: var(--username_margin_left, calc(8 / 14 * 1em));
	margin-right: var(--username_margin_right, calc(8 / 14 * 1em));
	text-overflow: var(--username_text_overflow_style, ellipsis);

	/* 		recommended not to change */
	overflow: clip;
}

li[class$='voice_state'][class*='speaking'] span[class*='name'] {
	background-color: var(--username_speaking_background_color, var(--inherited_username_background_color)) !important;
}

:root {
	--mute_icon: url('assets/mute.png');
	--servermute_icon: url('https://i.imgur.com/dGLktVK.png');
	--serverdeaf_icon: url('https://i.imgur.com/PIzZueQ.png');
	--mute_deaf_icon: url('.assets/mute-deaf.png');
	--mute_serverdeaf_icon: url('https://i.imgur.com/ahiYmuD.png');
	--servermute_deaf_icon: url('https://i.imgur.com/B75U9Qo.png');
	--servermute_serverdeaf_icon: url('https://i.imgur.com/cNJoKKP.png');

	/* 		recommended not to change */
	--inherited_username_line_height: var(--username_line_height, calc(93 / 70));
	--inherited_username_vertical_padding: var(--calculated_username_vertical_padding, calc(1em * 2 / 7));
	--inherited_username_horizontal_padding: var(--calculated_username_horizontal_padding, calc(1em * 3 / 7));
	--inherited_username_margin_left: var(--username_margin_left, calc(8 / 14 * 1em));
	--inherited_username_margin_right: var(--username_margin_right, calc(8 / 14 * 1em));
	--calculated_username_box_height: calc(var(--inherited_username_line_height) * 1em + var(--inherited_username_vertical_padding) * 2);
}

li[class$='voice_state'][class~='self_mute'] span[class*='name']:after,
li[class$='voice_state'][class~='self_deaf'] span[class*='name']:after,
li[class$='voice_state'][class~='mute'] span[class*='name']:after,
li[class$='voice_state'][class~='deaf'] span[class*='name']:after {
	background-repeat: no-repeat;
	background-size: contain;
	content: '';
	height: var(--calculated_username_box_height);
	width: 100%;
	margin-top: calc(var(--inherited_username_vertical_padding) * -1);
	margin-left: calc(var(--inherited_username_horizontal_padding) + var(--inherited_username_margin_left));
	position: absolute;
}

li[class$='voice_state'][class~='self_mute'] span[class*='name'],
li[class$='voice_state'][class~='mute'] span[class*='name'],
li[class$='voice_state'][class~='deaf'] span[class*='name'] {
	margin-right: calc(var(--inherited_username_margin_right) * 2 + var(--calculated_username_box_height) * 1);
}

li[class$='voice_state'][class~='self_mute'] span[class*='name']:after {
	background-image: var(--mute_icon, url('https://i.imgur.com/N41639K.png'));
}

li[class$='voice_state'][class~='mute'] span[class*='name']:after {
	background-image: var(--servermute_icon, url('https://i.imgur.com/dGLktVK.png'));
}

li[class$='voice_state'][class~='deaf'] span[class*='name']:after {
	background-image: var(--serverdeaf_icon, url('https://i.imgur.com/PIzZueQ.png'));
}

li[class$='voice_state'][class~='self_mute'][class~='self_deaf'] span[class*='name'],
li[class$='voice_state'][class~='self_mute'][class~='deaf'] span[class*='name'],
li[class$='voice_state'][class~='mute'][class~='self_deaf'] span[class*='name'],
li[class$='voice_state'][class~='mute'][class~='deaf'] span[class*='name'] {
	margin-right: calc(var(--inherited_username_margin_right) * 3 + var(--calculated_username_box_height) * 2);
}

li[class$='voice_state'][class~='self_mute'][class~='self_deaf'] span[class*='name']:after {
	background-image: var(--mute_deaf_icon, url('https://i.imgur.com/MuYZsfA.png'));
}

li[class$='voice_state'][class~='self_mute'][class~='deaf'] span[class*='name']:after {
	background-image: var(--mute_serverdeaf_icon, url('https://i.imgur.com/ahiYmuD.png'));
}

li[class$='voice_state'][class~='mute'][class~='self_deaf'] span[class*='name']:after {
	background-image: var(--servermute_deaf_icon, url('https://i.imgur.com/B75U9Qo.png'));
}

li[class$='voice_state'][class~='mute'][class~='deaf'] span[class*='name']:after {
	background-image: var(--servermute_serverdeaf_icon, url('https://i.imgur.com/cNJoKKP.png'));
}
