:root {
	--mute_icon: url('https://i.imgur.com/N41639K.png');
	--servermute_icon: url('https://i.imgur.com/dGLktVK.png');
	--serverdeaf_icon: url('https://i.imgur.com/PIzZueQ.png');
	--mute_deaf_icon: url('https://i.imgur.com/MuYZsfA.png');
	--mute_serverdeaf_icon: url('https://i.imgur.com/ahiYmuD.png');
	--servermute_deaf_icon: url('https://i.imgur.com/B75U9Qo.png');
	--servermute_serverdeaf_icon: url('https://i.imgur.com/cNJoKKP.png');

	/* 		recommended not to change */
	--inherited_username_line_height: var(--username_line_height, calc(93 / 70));
	--inherited_username_vertical_padding: var(
		--calculated_username_vertical_padding,
		calc(1em * 2 / 7)
	);
	--inherited_username_horizontal_padding: var(
		--calculated_username_horizontal_padding,
		calc(1em * 3 / 7)
	);
	--inherited_username_margin_left: var(
		--username_margin_left,
		calc(8 / 14 * 1em)
	);
	--inherited_username_margin_right: var(
		--username_margin_right,
		calc(8 / 14 * 1em)
	);
	--calculated_username_box_height: calc(
		var(--inherited_username_line_height) * 1em +
			var(--inherited_username_vertical_padding) * 2
	);
}

li[class$='voice_state'][class~='self_mute'] span[class*='name']:after,
li[class$='voice_state'][class~='self_deaf'] span[class*='name']:after,
li[class$='voice_state'][class~='mute'] span[class*='name']:after,
li[class$='voice_state'][class~='deaf'] span[class*='name']:after {
	background-repeat: no-repeat;
	background-size: contain;
	content: '';
	height: var(--calculated_username_box_height);
	width: 100%;
	margin-top: calc(var(--inherited_username_vertical_padding) * -1);
	margin-left: calc(
		var(--inherited_username_horizontal_padding) +
			var(--inherited_username_margin_left)
	);
	position: absolute;
}

li[class$='voice_state'][class~='self_mute'] span[class*='name'],
li[class$='voice_state'][class~='mute'] span[class*='name'],
li[class$='voice_state'][class~='deaf'] span[class*='name'] {
	margin-right: calc(
		var(--inherited_username_margin_right) * 2 +
			var(--calculated_username_box_height) * 1
	);
}

li[class$='voice_state'][class~='self_mute'] span[class*='name']:after {
	background-image: var(--mute_icon, url('https://i.imgur.com/N41639K.png'));
}

li[class$='voice_state'][class~='mute'] span[class*='name']:after {
	background-image: var(
		--servermute_icon,
		url('https://i.imgur.com/dGLktVK.png')
	);
}

li[class$='voice_state'][class~='deaf'] span[class*='name']:after {
	background-image: var(
		--serverdeaf_icon,
		url('https://i.imgur.com/PIzZueQ.png')
	);
}

li[class$='voice_state'][class~='self_mute'][class~='self_deaf']
	span[class*='name'],
li[class$='voice_state'][class~='self_mute'][class~='deaf'] span[class*='name'],
li[class$='voice_state'][class~='mute'][class~='self_deaf'] span[class*='name'],
li[class$='voice_state'][class~='mute'][class~='deaf'] span[class*='name'] {
	margin-right: calc(
		var(--inherited_username_margin_right) * 3 +
			var(--calculated_username_box_height) * 2
	);
}

li[class$='voice_state'][class~='self_mute'][class~='self_deaf']
	span[class*='name']:after {
	background-image: var(
		--mute_deaf_icon,
		url('https://i.imgur.com/MuYZsfA.png')
	);
}

li[class$='voice_state'][class~='self_mute'][class~='deaf']
	span[class*='name']:after {
	background-image: var(
		--mute_serverdeaf_icon,
		url('https://i.imgur.com/ahiYmuD.png')
	);
}

li[class$='voice_state'][class~='mute'][class~='self_deaf']
	span[class*='name']:after {
	background-image: var(
		--servermute_deaf_icon,
		url('https://i.imgur.com/B75U9Qo.png')
	);
}

li[class$='voice_state'][class~='mute'][class~='deaf']
	span[class*='name']:after {
	background-image: var(
		--servermute_serverdeaf_icon,
		url('https://i.imgur.com/cNJoKKP.png')
	);
}
