:root {
	--avatar_speaking_animation_start_top: 0px;
	--avatar_speaking_animation_end_top: calc(
		var(--inherited_avatar_border_width) * -1
	);
	--avatar_speaking_animation_start_left: 0px;
	--avatar_speaking_animation_end_left: 0px;

	--avatar_speaking_animation_duration: 0.5s;
	--avatar_speaking_animation_timing_function: ease;
	--avatar_speaking_animation_iteration_count: infinite;
	--avatar_speaking_animation_delay: 0s;

	/* 		recommended not to change */
	--inherited_avatar_border_width: var(
		--avatar_border_width,
		calc(var(--calculated_avatar_height_width) * 0.075)
	);
}

@keyframes speaking-animation {
	0% {
		top: var(--avatar_speaking_animation_start_top, auto);
		left: var(--avatar_speaking_animation_start_left, auto);
	}
	50% {
		top: var(--avatar_speaking_animation_end_top, auto);
		left: var(--avatar_speaking_animation_end_left, auto);
	}
	100% {
		top: var(--avatar_speaking_animation_start_top, auto);
		left: var(--avatar_speaking_animation_start_left, auto);
	}
}

li[class$='voice_state'][class*='speaking'] img[class$='avatar'] {
	/* 		recommended not to change */
	position: relative;
	animation-name: speaking-animation;
	animation-duration: var(--avatar_speaking_animation_duration, 0.5s);
	animation-timing-function: var(
		--avatar_speaking_animation_timing_function,
		ease
	);
	animation-iteration-count: var(
		--avatar_speaking_animation_iteration_count,
		infinite
	);
	animation-delay: var(--avatar_speaking_animation_delay, 0s);
}
