:root {
	--avatar_speaking_transition_start_top: 0px;
	--avatar_speaking_transition_end_top: calc(
		var(--inherited_avatar_border_width) * -1
	);
	--avatar_speaking_transition_start_left: 0px;
	--avatar_speaking_transition_end_left: 0px;

	--avatar_speaking_transition_duration: 0.25s;
	--avatar_speaking_transition_timing_function: ease;
	--avatar_speaking_transition_delay: 0s;

	/* 		recommended not to change */
	--inherited_avatar_border_width: var(
		--avatar_border_width,
		calc(var(--calculated_avatar_height_width) * 0.075)
	);
}

img[class$='avatar'] {
	transition-property: top, left;
	top: var(--avatar_speaking_transition_start_top, auto);
	left: var(--avatar_speaking_transition_start_left, auto);

	/* 		recommended not to change */
	position: relative;
	transition-duration: var(--avatar_speaking_transition_duration, 0.25s);
	transition-timing-function: var(
		--avatar_speaking_transition_timing_function,
		ease
	);
	transition-delay: var(--avatar_speaking_transition_delay, 0s);
}

li[class$='voice_state'][class*='speaking'] img[class$='avatar'] {
	top: var(--avatar_speaking_transition_end_top, auto);
	left: var(--avatar_speaking_transition_end_left, auto);
}
